.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 40px;   
  margin-bottom: 40px; 
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie-poster {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.1rem;
  margin: 10px 0 5px;
}

.description {
  font-size: 0.9rem;
  margin-bottom: 10px;
  flex-grow: 1; 
  overflow: hidden;
  text-overflow: ellipsis;
}


.actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.edit-link,
.delete-button,
.read-more {
  background-color: #222;
  color: white;
  padding: 5px 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 4px;
}

.edit-link:hover,
.delete-button:hover,
.read-more:hover {
  background-color: #444;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
}